<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование пользователя</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/users/{id}(id=${User.getId()})}" th:object="${User}">
    <label for="name">Введите имя: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <br/>
    <label for="name">Введите фамилию: </label>
    <input type="text" th:field="*{surname}" id="surname"/>
    <br/>
    <br/>
    <label for="name">Введите e-mail: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <br/>
    <br/>
    <input type="submit" value="Update!"/>
</form>
</body>
</html>